@define-color bar-bg rgba(65,82,58,0.01);
@define-color main-bg rgba(65,82,58,0.8);
@define-color main-fg rgba(72,107,58,0.8);
@define-color wb-act-bg rgba(192,207,206,0.4);
@define-color wb-act-fg rgba(41,82,79,1);
@define-color wb-hvr-bg rgba(219,230,154,0.4);
@define-color wb-hvr-fg rgba(107,93,58,0.8);
