[user]
  name = Jordan Garcia
  email = arickho@gmail.com

[gpg]
  signingkey = 6BF4E03DB2CBE855D7ECBE47ADC4D8A2BE5DD91B
  program = gpg

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[core]
  editor = nvim
  autocrlf = input
  safecrlf = true
  filemode = false 
	pager = bat
  excludesfile = ~/.gitignore_global

[color]
  ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = red

[push]
  default = current 
  
[pull]
  rebase = false 

[fetch]
  prune = true

[includeIf "gitdir:~/dev/work/"]
  path = ~/dev/work/.gitconfig

